* {
    font-family: Arial, Helvetica, Arial, sans-serif;
}

body {
    padding: 60px;
}

button {
    border: 0px;
    border-radius: 5px;
    color:white;
    background-color: cadetblue;
    padding: 10px;
}

input {
    width: 100%;
    font-size: 1.2rem;
    color: gray;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    align-content: center;
    border: 1px solid;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
}

.card p{
    padding: 5px;
    text-align: center;
    font-size:10px;
}

.card img{
    max-height: 100%;
    max-width: 200px;
}